html, body {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	color: #282923;
}
* {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	background: #eee;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/* Header Section Starts Here */
header {
	background-color: #C4262E;
}
header a {
	color: #fff!important;
	font-weight: 700;
}
.dropdown-custom .dropdown-menu {
	background-color: #C4262E;
}
.dropdown-custom .dropdown-item {
	font-weight: 500;
}
.dropdown-custom .dropdown-item:hover {
	color: #C4262E!important;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.show > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  
}
.dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block;
  
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.dropdown-toggle {
	transition: .3s ease;
}
.dropdown-toggle:hover {
	opacity: .7;
}
/* Header Section Ends Here */
/* Course Grid Section Starts Here */
.course_grid {
	padding: 40px 0;
}
.card-custom {
	transition: .5s ease;
}
.card-custom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}
.card-custom .card-title {
	font-size: 14px;
	font-weight: 700;
}
.card-custom .card-text {
	font-size: 12px;
}
.card-custom .card-body {
	padding-left: 10px;
	padding-bottom: 5px;
}
.card-custom a {
	color: #C4262E;
	font-size: 30px;
	padding: 0 5px;
}
/* Course Grid Section Ends Here */